@use '../../styles/variables';

/*.headerAppName {
  color: variables.$color-primary;
  margin-bottom: 0.5em;

  .icon {
    color: variables.$color-accent;
    margin-right: 0.5em;
  }
}*/

.editingButtons{
  display: flex;
  gap: 10px;
}

.description {
  width: 100%;
  flex-grow: 2;
  position: relative;
  display: flex;
  padding-right: 0;
  justify-content: right;

  //background-color: hsla(0, 0%, 90%, 1);
  //margin-top: -1em;
  //padding: 2em;
  &:first-letter {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
  }

  .editDescriptionButton{
    position: absolute;
    top: 1em;
    right: 0;
  }
}
