@use '../styles/variables';

.recipeName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 2px solid variables.$color-primary;;
}

.recipeDetail {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  margin-top: 1em;

  .ingredients {
    flex-basis: 11em;

    .cleanUpButton{
      display: block;
      margin: 3em auto 0;
    }

    svg {
      height: 24px;
    }

    .ingredientItem {
      margin-bottom: 10px;
      cursor: pointer;

      .ingredientVolume {
        font-weight: bold;
        margin-right: 1ch;
      }

      .ingredientsName {

      }
    }
  }
}

