@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

@import "variables";

$primary: $color-primary;


@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/table';
@import 'bulma/sass/elements/button';
@import 'bulma/sass/elements/box';
@import 'bulma/sass/components/navbar';


body {
  margin: 2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.button .icon{
  vertical-align: middle;

  & + span {
    margin-left: 0.2em;
  }
}
