@import "variables";
@import "bulma";


body {
  margin: 2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.button .icon{
  vertical-align: middle;

  & + span {
    margin-left: 0.2em;
  }
}

table thead th > span + .icon{
  margin-left: 1em;
}
