.filterWrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5em;
  margin-bottom: 1em;

  .searchWrapper {
    width: 40em;
  }

  .buttonWrapper{
    width: 7em;

    :global(.button){
      width: 100%;
    }
  }
}

.recipesTable {

  thead{
    .sortIcon{
      cursor: pointer;
    }
  }

  tbody tr {
    cursor: pointer;
  }
}

@media all and (max-width: 840px){
  .filterWrapper {
    .searchWrapper, .buttonWrapper {
      width: 100%;
    }
  }
}
